<h1>Sistema Generador de Pagos</h1>
<h2>Lista de empleados</h2>

<table>
	<tr>
	  <th>Ci</th>
	  <th>Nombre</th>
	  <th>Apellido</th>
	</tr>

	<% @empleados.each do |empleado| %>
	  <tr>
	    <td><%= empleado.ci %></td>
	    <td><%= empleado.nombre %></td>
	    <td><%= empleado.apellido %></td>
	  </tr>
	<% end %>
</table>